@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Russo+One&display=swap");

/* font-family: 'Nunito', sans-serif;
font-family: 'Russo One', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  background-image: url("img/Group 1.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100wv;
  /* overflow: hidden; */
  position: relative;
  margin: 0;
}

.main_image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 585px;
  width: 555px;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 1400px;
  padding-left: 50px;
  padding-right: 50px;
}

.main {
  margin-top: 200px;
  color: white;
  max-width: 600px;
}

.header_logo {
  width: 139px;
  height: 71px;
  margin: 0;
  padding: 0;
}

.header {
  margin-bottom: 40px;
}

.main_header {
  margin-bottom: 30px;
  color: #fff;
  font-family: Russo One;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_paragraph {
  color: #fff;
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.wheel_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 600px;

  margin-top: 200px;
  position: relative;
}

.play_button {
  background-image: url("img/Button.png");
  background-position: center;
  background-size: contain;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  width: 304px;
  height: 119px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  color: #f5ebeb;
  font-family: Russo One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.play_button-mobile {
  background-image: url("img/Button.png");
  background-position: center;
  background-size: contain;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  width: 304px;
  height: 119px;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #f5ebeb;
  font-family: Russo One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}

.container {
  width: 500px;
  height: 500px;
  background-color: rgba(41, 41, 41, 0);
  border-radius: 50%;
  /* border: 15px solid rgba(133, 133, 133, 0); */
  position: relative;
  overflow: hidden;
  transition: 5s;
  text-align: center;
  transition-timing-function: ease-in-out;
}

.wheel_bg {
  position: absolute;
  width: 500px;
  height: 500px;
  transition: 5s;
}

.wheel_frame {
  position: absolute;
  width: 570px;
  height: 570px;
}

.container div {
  height: 50%;
  width: 220px;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  text-align: center;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  left: 135px;
}

.container .one {
  background-color: rgba(165, 42, 42, 0);
  left: 50%;
  color: #fc1a15;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .two {
  background-color: rgba(255, 5, 5, 0);
  transform: rotate(60deg);
  color: #ff0000;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .three {
  background-color: rgba(165, 157, 42, 0);
  transform: rotate(90deg);
  color: #ffffff;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .four {
  background-color: rgba(42, 165, 128, 0);
  transform: rotate(120deg);
  color: #ff0000;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .five {
  background-color: rgba(42, 116, 165, 0);
  transform: rotate(150deg);
  color: #ffffff;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .six {
  background-color: rgb(52, 165, 0, 0);
  transform: rotate(180deg);
  color: #ff0000;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .seven {
  background-color: rgb(243, 92, 0, 0);
  transform: rotate(210deg);
  color: #ffffff;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .eight {
  background-color: rgb(68, 59, 0, 0);
  transform: rotate(240deg);
  color: #ff0000;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .nine {
  background-color: rgb(165, 42, 0, 0);
  transform: rotate(270deg);
  color: #ffffff;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .ten {
  background-color: rgb(82, 44, 0, 0);
  transform: rotate(300deg);
  color: #ff0000;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .eleven {
  background-color: rgb(82, 44, 0, 0);
  transform: rotate(330deg);
  color: #ffffff;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .twelve {
  background-color: rgb(82, 44, 0, 0);
  transform: rotate(360deg);
  color: #ffffff;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .thirteen {
  background-color: rgb(82, 44, 0, 0);
  transform: rotate(390deg);
  color: #ffffff;
  text-align: center;
  font-family: Russo One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrow {
  position: absolute;
  top: 15px;
  left: 50%;

  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0);
  z-index: 3;
}

.arrow::before {
  content: "V";
  font-size: 50px;
  background-image: url("img/pointer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 55px;
  height: 81px;
}

#spin {
  position: absolute;

  transform: translateX(-50%, -50%);
  z-index: 10;
  background-color: rgba(128, 255, 0, 0.082);
  border: 8px solid rgba(178, 34, 34, 0.068);
  font-size: 12px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 10;
}

@media (max-width: 723px) {
  body {
    background-image: url("img/Group723.png");
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    object-fit: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .main {
    order: 1;
    align-items: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .wheel_box {
    order: 2;
  }

  .header {
    margin: 0;
  }

  .main_header {
    color: #fff;
    text-align: center;
    font-family: Russo One;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    max-width: 351px;
  }

  .main_paragraph {
    color: #fff;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .main_image {
    width: 349px;
    height: 369px;
    z-index: 3;
  }

  .play_button {
    font-size: 20px;
    margin-bottom: 48px;
    margin-top: -20px;
    z-index: 5;
    display: none;
  }

  .play_button-mobile {
    display: block;
    width: 161px;
    height: 62px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;

    z-index: 5;
  }

  .wheel_box {
    height: 0;
  }

  .wheel_bg {
    position: absolute;
    width: 300px;
    height: 300px;
    transition: 5s;
  }

  .wheel_frame {
    position: absolute;
    width: 370px;
    height: 370px;
  }

  .container {
    width: 500px;
    height: 350px;
    background-color: rgba(41, 41, 41, 0);
    border-radius: 50%;
    /* border: 15px solid rgba(133, 133, 133, 0); */
    position: relative;
    overflow: hidden;
    transition: 5s;
    text-align: center;
    transition-timing-function: ease-in-out;
  }

  .container .one {
    background-color: rgba(165, 42, 42, 0);
    left: 50%;
    color: #fc1a15;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container .two {
    background-color: rgba(255, 5, 5, 0);
    transform: rotate(60deg);
    color: #ff0000;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container .three {
    background-color: rgba(165, 157, 42, 0);
    transform: rotate(90deg);
    color: #ffffff;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container .four {
    background-color: rgba(42, 165, 128, 0);
    transform: rotate(120deg);
    color: #ff0000;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container .five {
    background-color: rgba(42, 116, 165, 0);
    transform: rotate(150deg);
    color: #ffffff;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container .six {
    background-color: rgb(52, 165, 0, 0);
    transform: rotate(180deg);
    color: #ff0000;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container .seven {
    background-color: rgb(243, 92, 0, 0);
    transform: rotate(210deg);
    color: #ffffff;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container .eight {
    background-color: rgb(68, 59, 0, 0);
    transform: rotate(240deg);
    color: #ff0000;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container .nine {
    background-color: rgb(165, 42, 0, 0);
    transform: rotate(270deg);
    color: #ffffff;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container .ten {
    background-color: rgb(82, 44, 0, 0);
    transform: rotate(300deg);
    color: #ff0000;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container .eleven {
    background-color: rgb(82, 44, 0, 0);
    transform: rotate(330deg);
    color: #ffffff;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container .twelve {
    background-color: rgb(82, 44, 0, 0);
    transform: rotate(360deg);
    color: #ffffff;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container .thirteen {
    background-color: rgb(82, 44, 0, 0);
    transform: rotate(390deg);
    color: #ffffff;
    text-align: center;
    font-family: Russo One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .arrow {
    position: absolute;
    top: -190px;
    left: 50%;

    transform: translateX(-50%);
    color: rgba(0, 0, 0, 0);
    z-index: 3;
  }
}
