@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Russo+One&display=swap");

/* font-family: 'Nunito', sans-serif;
font-family: 'Russo One', sans-serif; */
html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("img/Group 1.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

  position: relative;
  margin: 0;
}

.main_image {
  position: absolute;
  bottom: 0;
  right: 0;
  /* height: 647px;
  width: 446px; */
  /* height: 60%; */
  width: 22%;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 1400px;
  padding-left: 50px;
  padding-right: 50px;
}

.main {
  margin-top: 200px;
  color: white;
  max-width: 600px;
}

.header_logo {
  width: 139px;
  height: 71px;
  margin: 0;
  padding: 0;
}

.header {
  margin-bottom: 40px;
}

.main_image_mobile {
  display: none;
}

.main_header {
  margin-bottom: 30px;
  color: #fff;
  font-family: Russo One;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_paragraph {
  color: #fff;
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.wheel_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 600px;

  margin-top: 200px;
  position: relative;
}

.play_button {
  background-image: url("img/Button.png");
  background-position: center;
  background-size: contain;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  width: 304px;
  height: 119px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  color: #f5ebeb;
  font-family: Russo One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}

.play_button-mobile {
  background-image: url("img/Button.png");
  background-position: center;
  background-size: contain;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  width: 304px;
  height: 119px;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #f5ebeb;
  font-family: Russo One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}

.container {
  width: 500px;
  height: 500px;
  background-color: rgba(41, 41, 41, 0);
  border-radius: 50%;
  /* border: 15px solid rgba(133, 133, 133, 0); */
  position: relative;
  overflow: hidden;
  transition: 5s;
  text-align: center;
  transition-timing-function: ease-in-out;
}

.wheel_bg {
  position: absolute;
  width: 500px;
  height: 500px;
  transition: 5s;
}

.wheel_frame {
  position: absolute;
  width: 570px;
  height: 570px;
}

.container div {
  height: 50%;
  width: 220px;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  text-align: center;
  padding-top: 50px;
  justify-content: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  left: 135px;
}

.container .one {
  background-color: rgba(165, 42, 42, 0);
  transform: rotate(24deg);
  color: #ffffff;
  text-align: center;
  font-family: Russo One;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .two {
  background-color: rgba(255, 5, 5, 0);
  transform: rotate(67deg);
  color: #ff0000;
  text-align: center;
  font-family: Russo One;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .three {
  background-color: rgba(165, 157, 42, 0);
  transform: rotate(112deg);
  color: #ffffff;
  text-align: center;
  font-family: Russo One;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .four {
  background-color: rgba(42, 165, 128, 0);
  transform: rotate(157deg);
  color: #ff0000;
  text-align: center;
  font-family: Russo One;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .five {
  background-color: rgba(42, 116, 165, 0);
  transform: rotate(203deg);
  color: #ffffff;
  text-align: center;
  font-family: Russo One;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .six {
  background-color: rgb(52, 165, 0, 0);
  transform: rotate(249deg);
  color: #ff0000;
  text-align: center;
  font-family: Russo One;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .seven {
  background-color: rgb(243, 92, 0, 0);
  transform: rotate(295deg);
  color: #ffffff;
  text-align: center;
  font-family: Russo One;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .eight {
  background-color: rgb(68, 59, 0, 0);
  transform: rotate(340deg);
  color: #ff0000;
  text-align: center;
  font-family: Russo One;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wheel_discription {
  text-align: center;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}

.arrow {
  position: absolute;
  top: 15px;
  left: 50%;

  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0);
  z-index: 3;
}

.arrow::before {
  content: "V";
  font-size: 50px;
  background-image: url("img/pointer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 55px;
  height: 81px;
}

#spin {
  position: absolute;
  transform: translateX(-50%, -50%);
  z-index: 10;
  font-size: 12px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 10;
  background-image: url("img/spin.png");
  object-fit: cover;
  background-position: center;
  background-size: contain;
  color: #fc1a15;
  font-family: Russo One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 141px;
  height: 141px;
}

.popup {
  display: none;
  transition: visibility 0.2s linear, opacity 0.2s linear;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  color: #ffffff;
  background-color: #00000091;
}

.popup_active {
  display: flex;
}

.popup_container {
  background-image: url("img/popup_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: contain;
  position: relative;
  background-color: #ffffff00;
  border-radius: 10px;
  max-width: 461px;
  height: 584px;
  width: 100%;
}

.popup_content {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 72px);
  margin: 0 auto;
  border: none;
  padding-top: 40px;
}

.popup_title {
  text-align: center;
  font-family: Russo One;
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  max-width: 361px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.popup_subtitle {
  font-family: Russo One;
  font-size: 42px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

.popup_paragraph {
  margin: 0;
  font-family: Nunito;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}

.popup_button {
  color: #fff;
  font-family: Russo One;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-image: url("img/popup_button_bg.png");
  background-color: #f5ebeb00;
  border: none;
  width: 300px;
  height: 73px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  cursor: pointer;
  object-fit: fill;
  background-repeat: no-repeat;
}

@media (max-width: 723px) {
  body {
    background-image: url("img/Group723.png");
    background-position: top;
    background-repeat: no-repeat;
    min-height: 1000px;
    overflow-x: hidden;
    object-fit: cover;
    margin: 0 auto;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .main {
    order: 1;
    align-items: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .wheel_box {
    order: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 344px;
    margin-top: 200px;
    position: relative;
  }

  .header {
    margin: 0;
  }

  .main_header {
    color: #fff;
    text-align: center;
    font-family: Russo One;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    max-width: 351px;
  }

  .main_paragraph {
    color: #fff;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .main_disc {
    margin-bottom: 30px;
  }

  .main_image {
    position: relative;
    width: 349px;
    height: 369px;
    z-index: 3;
    order: 4;
    display: none;
  }

  .main_image_mobile {
    position: absolute;
    width: 60%;

    z-index: 3;
    order: 4;
    right: 0;
    bottom: 0;
    display: block;
  }

  .play_button {
    font-size: 20px;
    margin-bottom: 48px;
    margin-top: -20px;
    z-index: 5;
    display: none;
  }

  .play_button-mobile {
    display: block;
    width: 161px;
    height: 62px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;
    display: none;
    z-index: 5;
  }

  .wheel_box {
    height: 0;
  }

  .wheel_bg {
    position: absolute;
    width: 350px;
    height: 350px;
    transition: 5s;
  }

  .wheel_frame {
    position: absolute;
    width: 400px;
    height: 400px;
  }

  .container {
    width: 500px;
    height: 370px;
    background-color: rgba(41, 41, 41, 0);
    border-radius: 50%;
    /* border: 15px solid rgba(133, 133, 133, 0); */
    position: relative;
    overflow: hidden;
    transition: 5s;
    text-align: center;
    transition-timing-function: ease-in-out;
  }

  .container div {
    height: 50%;
    width: 250px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    left: 46px;
  }

  .container .one {
    background-color: rgba(165, 42, 42, 0);
    transform: rotate(21deg);
    color: #fdfdfd;
    text-align: center;
    font-family: Russo One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container .two {
    background-color: rgba(255, 5, 5, 0);
    transform: rotate(67deg);
    color: #ff0000;
    text-align: center;
    font-family: Russo One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container .three {
    background-color: rgba(165, 157, 42, 0);
    transform: rotate(112deg);
    color: #ffffff;
    text-align: center;
    font-family: Russo One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container .four {
    background-color: rgba(42, 165, 128, 0);
    transform: rotate(157deg);
    color: #ff0000;
    text-align: center;
    font-family: Russo One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container .five {
    background-color: rgba(42, 116, 165, 0);
    transform: rotate(203deg);
    color: #ffffff;
    text-align: center;
    font-family: Russo One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container .six {
    background-color: rgb(52, 165, 0, 0);
    transform: rotate(249deg);
    color: #ff0000;
    text-align: center;
    font-family: Russo One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container .seven {
    background-color: rgb(243, 92, 0, 0);
    transform: rotate(295deg);
    color: #ffffff;
    text-align: center;
    font-family: Russo One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container .eight {
    background-color: rgb(68, 59, 0, 0);
    transform: rotate(338deg);
    color: #ff0000;
    text-align: center;
    font-family: Russo One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .arrow {
    position: absolute;
    top: -200px;
    left: 50%;

    transform: translateX(-50%);
    color: rgba(0, 0, 0, 0);
    z-index: 3;
  }

  #spin {
    width: 106px;
    height: 106px;
    font-size: 30px;
  }

  .wheel_discription {
    font-size: 14px;
  }

  .popup_button {
    font-size: 22px;
    max-width: 212px;
    height: 63px;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    cursor: pointer;
    background-repeat: no-repeat;
  }

  .popup_container {
    max-width: 341px;
    height: 432px;
  }

  .popup_content {
    padding-top: 15%;
  }

  .popup_title {
    font-size: 28px;
    margin: 0;
  }

  .popup_subtitle {
    font-size: 32px;
    font-weight: 400;
    margin-top: 13%;
    margin-bottom: 2%;
  }

  .popup_paragraph {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 15%;
  }

  @media (max-width: 350px) {
    .popup_content {
      padding-top: 30%;
    }

    .popup_title {
      font-size: 28px;
      margin: 0;
    }

    .popup_subtitle {
      font-size: 22px;
      font-weight: 400;
      margin-top: 8%;
      margin-bottom: 2%;
    }

    .popup_paragraph {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 7%;
    }

    .popup_button {
      margin: 0 auto;
      height: 43px;
      width: 100%;
      font-size: 18px;
    }
  }
}
